<!--<ActionBar title="Cricket Score Board" class="action-bar"></ActionBar>-->
<ActionBar title="CSB" class="action-bar"></ActionBar>
<StackLayout class="page">
    <label [text]="varTime"></label>
    <StackLayout orientation="horizontal">
        <button [text]="'Start New'" class="btn btn-info" width="25%" [nsRouterLink]="['/create_match']"></button>
        <button [text]="'Refresh'" width="25%" class="btn btn-warning" (tap)="refresh()"></button>
    </StackLayout>
    <!--<match-score-card [matchId]="liveMatchId" [nsRouterLink]="['/match']"></match-score-card>-->
    <Label [text]="'---------- All matches --------'" ></Label>
    <ListView [items]="allMatches">
        <ng-template let-item="item" let-inx="index">
        </ng-template>
    </ListView>
    <Label [text]="'---------- On going matches --------'" ></Label>
    <ListView [items]="onGoingMatches">
        <ng-template let-match="item" let-inx="index">
            <match-score-card [matchDetails]="match" (tap)="scoreCardClicked($event)"></match-score-card>
        </ng-template>
    </ListView>
    <Label [text]="'---------- Recent results --------'" ></Label>
    <ListView [items]="finishedMatches">
        <ng-template let-item="item" let-inx="index">
        </ng-template>
    </ListView>
    <Label [text]="'---------- Upcoming matches --------'" ></Label>
    <ListView [items]="upComingMatches">
        <ng-template let-item="item" let-inx="index">
        </ng-template>
        
    </ListView>
</StackLayout>